@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700');

body {
  background: #a0d8fa;

  a {
    text-decoration: none;
  }
}

.book-container {
  display: flex;
  max-width: 1300px;
  margin: 0 auto;

  .book-item {
    display: flex;
    position: relative;
    flex-direction: column;
    list-style-type: none;
    background: #ffece5;
    min-height: 150px;
    min-width: 150px;
    margin: 5px;
    padding: 3px;
    color: #000;

    &-delete {
      content: "×";
      display: block;
      height: 30px;
      top: 0;
      right: 0;
      line-height: 15px;
      font-size: 30px;
      position: absolute;
    }
  }
}

//Modal window

.modal-wrapper {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: flex-start;
  background: rgba(26, 26, 26, 0.7);
  z-index: 100;
}

.modal {
  position: relative;
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  display: flex;
  max-width: 410px;
  margin: 100px auto 0;
  flex-direction: column;
  justify-content: space-around;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, .25);
  box-sizing: border-box;
  transition: 1s;

  &-icon-close {
    content: "×";
    display: block;
    height: 30px;
    top: 0;
    right: 0;
    line-height: 10px;
    font-size: 52px;
    position: absolute;
  }

  &-title {
    background: #f7f7f7;
    border-bottom: 1px solid #e7e7e7;
    border-radius: 5px 5px 0 0;
    padding: 15px;
    text-align: center;
    font-size: 30px;
  }

  .book-information-container {
    display: flex;
    flex-direction: column;
    font-size: 21px;

    span {
      padding: 7px;
    }
  }
}



